<h1>Bookmarks#new</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.error_notification %>
  <%= f.input :comment %>
  <%= f.association :movie, include_blank: false %>
  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>

<hr>
<%= link_to "<-Back", lists_path %>
